
/* resetting  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    color: #666;
}
/* header style start */
.logo-image{
    width: 16vh;
    
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw 8vh;
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}


.option {
display: flex;
gap: 2vw;

}
.option a{
    text-decoration: none;
    color: #666;
}

/* header end */


/* main start */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    gap: 4vh;

}
.main img {
    width: 56vw;

}
.main button{
    border: none;
    background-color: #387ed1;
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
}

.main button:hover{
    background-color: #222;
    
}
/* main section end */

/* extra information section start */

.extra-info{
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
}
.extra-info-right img{
    width: 50vw;
}
.extra-info-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 28vw;

}
.info-left-heading {
    font: size 50px;
    color:#424242;
    margin-bottom: 40px;

}
.info-container-heading {
    color: #424242;
    font-size: 20px;
    padding-bottom: 12px;
}
.info-con-des {
    font-size: 16px;
    line-height: 24px;
}
.info-con-des a{
    color: #387ed1;
    text-decoration: none;
}
.extra-info-right div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.extra-info-right div a{
    color: #387ed1;
    text-decoration: none;
}
/* extra info section start */

/* img section */

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

  /* pricing section start */

.pricing-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    gap:20px;  
}

.pricing-left {   
height: 200px;
margin-bottom: 50px;
gap: 24px;
border-bottom: 2px;
margin-bottom: 10px;

}

.pricing-dec{
    margin-top: 24px; 
    line-height: 25px;
    gap: 40px;
    height: 15vh;
}
.pricing-link a{
    color: #387ed1;
    font-weight: 600;
    text-decoration: none;
    flex-direction: column;
    margin-top: 50px;
    
}

.pricing-text {
    height: 24px;
    margin-bottom: 30px;
    padding: 10px;
    line-height:10px;
    gap: 30px;
    width: 24px;
    
}

.pricing-right {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
.pricing-card {
    display: flex;
    align-items: center;
    width: 33.33%;
    /* align-items: flex-end; */
}

.pricing-card img {
    width: 150px;
}
.pricing-card p {
    font-size: 12px;
    width: 115px;
    margin-top: 31px;
    margin-left: -20px;
}

/* pricing end */


/* varsity stared */

.varsity-block{
    padding: 4vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.varsity-block img{
    width: 350px;
    margin-bottom: 20px;
}
.varsity-text p{
    margin-top: 20px;
}
.varsity-text a{
    color: #387ed1;
    text-decoration: none;
}
.btn{
    margin-top: 20px;
    font-weight: 600;
}
.account-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 90px;
    
}
.account-block button{
padding: 10px 30px;
margin-top: 20px;
font-size: 20px;
color: #fff;
background-color: #387ed1;
border: none;
border-radius: 3px;
}
.account-block button:hover{
background-color: #222;
}

/* varsity end  */

/* account start */
.account{

    display: flex;
    justify-content: center;
    padding: 0 8vw;
    width: 100%;
    background-color: #fbfbfb;
    padding-top: 8vh;
}
.acc-1 h2{
    color: #424242;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 20px;
}
.account button{
    border: none;
    background-color: #387ed1;
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
}
.account button:hover{
    background-color: #222;
}
/* account end */

 /* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 13vw;
    width: 100%;
    /* height: 400px; */
    background-color: #fbfbfb;
    padding-top: 13vh;
}

.footer-1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.footer-1 ul {
    display: flex;
    list-style: none;
    gap: 40px;
    height: 5vh;
    width: 5vw;
}
.footer-1 ul li a {
    color: #666;
}

.footer-logo{
    height: 3vh;
    width: 12vw;
}

.footer-2-ul a{
    text-decoration: none;
    color: #666;
    line-height: 1.5;
}

.footer-2-ul{
    list-style-type: none;
}
.company{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.7;
    font-weight: 400;
    color: #222;
    
}
.footer-last-text{
    padding: 4vh 10vw;
    font-size: 11px;
    color: rgb(155, 155, 155);
    background-color: #fbfbfb;
}
.ft a{
    text-decoration: none;
    color: #387ed1;
}
.ft a:hover{
    color: #424242;
}
.footer-final-text{
    display: flex;
    font-size: 12px;
    color: rgb(155, 155, 155);
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
}


